.vscode
expressJs/node_modules
templateEngines/node_modules
assignments/lessonExpressJs/node_modules
assignments/lessonTemplates/node_modules
MVC/node_modules
dynamicRoutes/node_modules
usingMySql/node_modules
usingMongoDB/node_modules
usingMongoose/node_modules
startingAPI/node_modules
startingGraphQL/node_modules
nodeAPI/node_modules
startingAPI/images/*
usingMongoose/images/*
usingMongoose/invoices/*