doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
    body
        header.mainHeader
            nav.mainHeaderNav
                ul.mainHeaderNavList
                    li.mainHeaderNavItem
                        a(href="/") Shop
                    li.mainHeaderNavItem
                        a.active(href="#") Add product

    main
        form.productForm(action="/admin/product", method="POST")
            div.formControl
                label(for="title") Title
                input(type="text", name="title")#title
            button(type="submit") Add product