extends layouts/main-layout.pug

block content
    main
        ul.mainHeaderNavList
            each product in products
                li.mainHeaderNavItem
                    p #{product.title}
        