doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="general.css")
    body
        header.mainHeader
            nav.navHeader
                ul.navListItem 
                    li.listItem
                        a(href="/", class=(path=== 'list' ? 'active' : '')) All users
                    li.listItem
                        a(href="/admin/new-user", class=(path=== 'newUser' ? 'active' : '')) Register new user
        block content
