<header class="mainHeader">
    <nav class="mainHeaderNav">
        <ul class="mainHeaderNavList">
            <li class="mainHeaderNavItem">
                <a href="/" class="<%= path=== '/' ? 'active' : '' %>">Shop</a>
            </li>
            <li class="mainHeaderNavItem">
                <a href="/admin/add-product" class="<%= path=== 'admin/add-product' ? 'active' : '' %>">Add product</a>
            </li>
        </ul>
    </nav>
</header>