<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
    </head>

    <body>
        <main>
            <form action="/recover" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="centered">
                    <div>
                        <h1>Recover your password</h1>
                    </div>
                    <div class="data">
                        <div class="inputs">
                            <div class="username">
                                <input type="text" id="email" name="email" placeholder="email"/>
                            </div>
                        </div>
                        <% if(message) {%>
                        <div>
                            <label class="error">
                                <%= message %>
                            </label>
                        </div>
                        <% } %>
                        <div class="buttons">
                            <button type="submit">Recover</button>
                            <button><a href="/">enter</a></button>
                            <button><a href="/register">New account</a></button>
                        </div>
                    </div>
                </div>
            </form>
        </main>

<%- include('../includes/end.ejs') %>