<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css">
    </head>

    <body>
        <main>
            <form action="/register" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="centered">
                    <div>
                        <h1>Register to access the shop</h1>
                    </div>
                    <div class="data">
                        <div class="inputs">
                            <div class="username">
                                <input type="text" id="username" name="username" placeholder="username"/>
                            </div>
                            <div class="username">
                                <input type="text" id="email" name="email" placeholder="email"/>
                            </div>
                            <div class="pass">
                                <input type="password" id="pass" name="pass" placeholder="password"/>
                            </div>
                        </div>
                        <% if(message) {%>
                        <div>
                            <label class="error">
                                <%= message %>
                            </label>
                        </div>
                        <% } %>
                        <div class="buttons">
                            <button type="submit">Register</button>
                            <button><a href="/">enter</a></button>
                            <button><a href="/recover">recover pass</a></button>
                        </div>
                    </div>
                </div>
            </form>
        </main>

<%- include('../includes/end.ejs') %>